<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:utext="${application_name}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/libs/all.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/cabinet/cabinet.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/rkk.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/general.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/images.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
</head>
<body>
<script th:inline="javascript">
    const APPLICATION_NAME = [[${application_name}]]
    const USER = [[${user}]]
    const USER_NAME = (USER) ? USER.firstname + " " + USER.lastname : ""
    const PRIVILEGES = [[${privileges}]]
    const ROLES = [[${roles}]]
</script>
<script th:src="@{/js/utils/general.js}"></script>
<script th:type="module" th:src="@{/js/admin.js}"></script>
<!--<script th:src="@{/js/rkk/rkk_attachment_form.js}"></script>-->

<!--<script th:src="@{/js/rkk/rkk_form/rkk_change_history_tab.js}"></script>-->
<!--<script th:src="@{/js/rkk/rkk_form/rkk_file_uploader_tab.js}"></script>-->
<!--<script th:src="@{/js/rkk/rkk_form/rkk_main_tab.js}"></script>-->
<!--<script th:src="@{/js/rkk/rkk_form/rkk_special_mark_tab/rkk_mailing_tab.js}"></script>-->
<!--<script th:src="@{/js/rkk/rkk_form/rkk_special_mark_tab/rkk_visa_tab.js}"></script>-->
<!--<script th:src="@{/js/rkk/rkk_form/rkk_special_mark_tab.js}"></script>-->
<!--<script th:src="@{/js/rkk/rkk_form/rkk_form.js}"></script>-->

<!--<script th:src="@{/js/rkk/rkk_list.js}"></script>-->


<!--<script th:src="@{/js/references/reference_list.js}"></script>-->
<!--<script th:src="@{/js/references/users/user_list.js}"></script>-->
<!--<script th:src="@{/js/references/organizations/organization_list.js}"></script>-->
<!--<script th:src="@{/js/references/attachment_types/attachment_type_list.js}"></script>-->
<!--<script th:src="@{/js/references/attachment_groups/attachment_group_list.js}"></script>-->
</body>
</html>
